<div style="margin-bottom:20px"><h2>CONTACT</h2></div>
  <h4 style="margin-bottom:20px">[CREATOR詳細]</h4>
    <div style="margin-bottom:20px"><img src="/images/me.jpg" alt="misa's_image"></div>
    <p>NAME : Misaki.T</p>
    <p>AGE : 21</p>
    <p>PROFESSION : STUDENT</p>
    
    <p>何かご意見ご要望などがあれば下記のからお寄せください。</p>
      <p><a href="mailto:m0i2s2a4@icloud.com">>>お問い合わせ</a></p>

    

