<div style="margin-bottom:100px">
  <h1>CONTACT</h1>
</div>

    <h3>
      <div style="border-left: solid 3px #809ece;">
        <b>お問い合わせ</b>
      </div>
    </h3>
    
    <p>何かご意見ご要望などがあれば下記のメールアドレスからお寄せください。</p>
    
    <ul><li></li></ul>
    
    <h3>
      <div style="border-left: solid 3px #809ece;">
        <b>GitHub</b>
      </div>
    </h3>
    
    <ul><li></li></ul>
    

    

