<div id=""
<div class="well well-sm" style="background-color:#809ece"><b>インフルエンザの特徴と症状</b></div>

<p>&nbsp;&nbsp;インフルエンザは普通の風邪とは異なり突然38度以上の「高熱」と関節痛や筋肉痛、頭痛などの他に全身の倦怠感、食欲不振などの
呼吸器だけでない全身症状が強く現れます。合併症として気管支炎、中耳炎、肺炎などもみられます。より重大な合併症には急性脳症（インフルエンザ脳症）
や重症肺炎などがあり重症化する恐れや死亡に至る恐れもあります。<br>

&nbsp;&nbsp;インフルエンザウイルスに感染した場合、約1〜3日の潜伏期間の後インフルエンザを発症します。
発症後は上記の症状が約1〜3日強く現れ通常は約10日前後で症状が落ち着き治癒します。</p>

<div class="well well-sm" style="background-color:#809ece"><b>ハイリスクグループとは</b></div>
<p>&nbsp;&nbsp;次のような方はハイリスクグループに属し重症化しやすい恐れがあります。</p>
  <ul>
    <li>高齢（65歳以上）</li>
    <li>小児（5歳未満）</li>
    <li>妊娠中</li>
    <li>肥満</li>
    <li>基礎疾患がある</li>
      <ul>
        <li>慢性呼吸器疾患（喘息、慢性閉塞性肺疾患など）</li>
        <li>慢性心疾患（先天性心疾患、冠動脈疾患など）</li>
        <li>代謝性疾患（糖尿病など）</li>
        <li>腎機能障害</li>
        <li>免疫機能不全（ステロイド内服、T細胞性免疫不全など）</li>
      </ul>
  </ul>
  
<div class="well well-sm" style="background-color:#809ece"><b>インフルエンザの予防法</b></div>
<p><div style="margin-bottom:30px">&nbsp;&nbsp;インフルエンザの流行は主に冬で地域や学校、会社などで起こります。ワクチンの予防接種をすると、インフルエンザウイルスの交代を
作らせることができる。その年に流行するインフルエンザは毎年予想され、予防接種のためのワクチンが作られます。インフルエンザウイルスの感染を
完全に予防することはできませんが、インフルエンザにかかる人や、重症化して入院する人を減らせます。</p></div>

<b><div style="font-size: 15px; border-left: solid 3px #809ece;">日常の中での予防法</div></b>
<p>&nbsp;&nbsp;日常生活でインフルエンザを予防することも大切です。<br>
通常のインフルエンザウイルスや新型インフルエンザウイルスの感染は、せきやくしゃみによる飛沫や接触によってウイルスが体内に入ることで起こります。
そこで、普段からウイルスが体内に入るのを防ぐようにしましょう。</p>
<ul>
  <li><b>飛沫感染</b></li>
    <p><div style="font-size:13px">感染者の咳、くしゃみなどにより発生した飛沫を吸い込む。</div></p>
  <li><b>接触感染</b></li>
    <p><div style="font-size:13px; margin-bottom:15px">感染者が触った物体に直接触り、そのまま目や鼻、口を触る</div></p>
</ul>

<p><div style="font-size:15px; border-left: solid 3px #809ece;"><b>予防法</b></div></p>
  <div style="margin-bottom:20px"><ul>
    <li>普段から健康管理をし、十分な栄養の食事と十分な睡眠を心がけ抵抗力を高めておきましょう。<br>&nbsp;</li>
    <li>人が多く集まる場所から帰ってきたときは手洗いをするよう心がけましょう。<br>&nbsp;</li>
    <li>アルコールを含んだ消毒液などで手を消毒するのも効果的です。</li>
  </ul></div>
  
  <pre> インフルエンザをしっかり予防して、かからないように気をつけましょう。
ただし、きちんと予防をしていてもインフルエンザにかかってしまうことがあります。
早期治療が大切ですから、インフルエンザが疑われるときはできるだけ早く医療機関で診察を受けましょう。</pre>



