@charset "UTF-8";

body{
    background:#f0ffff;
    margin-bottom: 60px;
    padding-bottom: 0;
}

footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    width:100%;
    background-color: #000080;
    text-align: center;
}

footer small{
    display: inline-block;
    padding: 8px 0;
    color: #ffffff;
}
